1. **Import pandas and numpy libraries**

In [13]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

2. **Reading the Dataset from our CSV file**

In [12]:
# Read the data from the CSV file and create the dataframe to be used
url = "/content/Autolib_dataset (2).csv"
autolib_df = pd.read_csv(url, encoding = 'latin1')
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

3. **Preview the Dataset** **bold text**

In [14]:
# Preview the first 5 rows of our data
# 
autolib_df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [15]:
# To view the dataset sample
#
autolib_df.sample(6)

                                          Address  Cars  ...  hour  minute
3031                         168 bis rue Cardinet     3  ...    11       7
766   188 Rue du Lieutenant-Colonel de Montbrison     1  ...    14      48
3646                     53 rue du Bois l'AbbÃÂ©     4  ...    17      35
4264                         3 rue Jean JaurÃÂ¨s     3  ...     7      16
1455                      21 Quai de la Tournelle     1  ...     6      34
2554                           8 rue de CrimÃÂ©e     3  ...    23      33

[6 rows x 25 columns]

**4. Accessing Information about the Dataset**

In [16]:
# Getting to know more about the dataset by accessing its information
# 
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [17]:
# To know the shape of the dataset
#
autolib_df.shape

(5000, 25)

**5. Cleaning the Dataset**

In [ ]:
# Delete columns that only contain missing values: 
#
# autolib_df.dropna(axis=1, how = 'all')
autolib_df.drop('Displayed comment', axis=1, inplace=True)

In [22]:
autolib_df.drop('Scheduled at', axis=1, inplace=True)
autolib_df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 23 columns]

In [10]:
# Checking for and deleting duplicates to avoid redundancy.
#
autolib_df[autolib_df.duplicated()]
autolib_df.drop_duplicates(inplace = True)

In [11]:
# Detecting and ddeleting outliers
# Explanation: Ouliers increase variability of data, and hence decreasing the statistical power. They are removed to make results statistically significant.
#
Q1 = autolib_df.quantile(0.25)
Q3 = autolib_df.quantile(0.75)
IQR = Q3 - Q1

autolib_df_out = autolib_df[~((autolib_df < (Q1 - 1.5 * IQR)) | (autolib_df > (Q3 + 1.5 * IQR))).any(axis=1)]

print(autolib_df_out.shape)
print(autolib_df.shape)

(3317, 25)
(5000, 25)

In [24]:
# Combine year, month, and day columns to single datetime column.
# 
autolib_df['Date'] = pd.to_datetime(
    autolib_df[['year', 'month', 'day']].astype(str).agg('-'.join, axis=1))

autolib_df.head(7)

                              Address  Cars  ...  minute       Date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...      37 2018-04-04
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08
5                8 Boulevard Voltaire     0  ...       2 2018-04-06
6                      37 rue Leblanc     0  ...      20 2018-04-08

[7 rows x 24 columns]

In [ ]:
# Joining Hour and Minute column to time
autolib_df['time'] = (pd.to_datetime(autolib_df['hour'].astype(str) + ':' + autolib_df['minute'].astype(str), format='%H:%M')
          .dt.time)
autolib_df.head(7)

In [28]:
# Dropping year, month, day, hour and minute columns from the dataset
autolib_df.drop(['year', 'month', 'day', 'hour', 'minute'], axis='columns', inplace=True)

In [29]:
# Preview dataset
autolib_df.head(5)

                              Address  Cars  ...       Date      time
0                 2 Avenue de Suffren     0  ... 2018-04-08  11:43:00
1           145 Rue Raymond Losserand     6  ... 2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03  20:14:00
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3  ... 2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ... 2018-04-08  17:23:00

[5 rows x 20 columns]

**6. Export the cleaned Dataset**

In [32]:
# Export the dataframe into a csv file 

autolib_df.to_csv('autolib_electric_car.csv')

**7. Analysis based on Research questions**

In [34]:
# Reading clean dataset

url = "/content/autolib_electric_car.csv"
autolib_electric_car_df = pd.read_csv(url)
autolib_electric_car_df.head(5)

   Unnamed: 0                             Address  ...        Date      time
0           0                 2 Avenue de Suffren  ...  2018-04-08  11:43:00
1           1           145 Rue Raymond Losserand  ...  2018-04-06  07:24:00
2           2    2 Avenue John Fitzgerald Kennedy  ...  2018-04-03  20:14:00
3           3          51 Rue EugÃÂ¨ne OudinÃÂ©  ...  2018-04-04  04:37:00
4           4  6 avenue de la Porte de Champerret  ...  2018-04-08  17:23:00

[5 rows x 21 columns]

In [71]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
popularhour = autolib_electic_car_df.loc[autolib_electic_car_df['Bluecar counter'] & autolib_electic_car_df['City'].isin(['Paris'])]
popularhour

      Unnamed: 0                             Address  ...        Date      time
3              3          51 Rue EugÃÂ¨ne OudinÃÂ©  ...  2018-04-04  04:37:00
4              4  6 avenue de la Porte de Champerret  ...  2018-04-08  17:23:00
8              8               34 avenue Jean Moulin  ...  2018-04-02  22:58:00
12            12  6 avenue de la Porte de Champerret  ...  2018-04-05  12:22:00
18            18               26 villa Croix-Nivert  ...  2018-04-09  20:58:00
...          ...                                 ...  ...         ...       ...
4973        4973                       18 Rue Balard  ...  2018-04-09  13:34:00
4976        4976              2 Avenue RenÃÂ© Fonck  ...  2018-04-05  18:34:00
4983        4983      4 avenue de la SÃ
Âur Rosalie  ...  2018-04-06  09:14:00
4988        4988                        62 Rue Ramey  ...  2018-04-08  11:00:00
4997        4997                      142 rue du Bac  ...  2018-04-01  07:01:00

[1045 rows x 21 columns]

In [37]:
# The most popular hours for returning cars
autolib_electic_car_df['time'].value_counts()

10:55:00    10
19:16:00    10
05:52:00    10
16:31:00    10
22:29:00    10
            ..
22:00:00     1
17:24:00     1
17:33:00     1
11:45:00     1
13:56:00     1
Name: time, Length: 1394, dtype: int64

In [38]:
# The most popular station
autolib_electic_car_df['Station type'].value_counts()

station         4615
full_station     382
subs_center        3
Name: Station type, dtype: int64

In [54]:
# The most popular Postal code
autolib_electic_car_df['Postal code'].value_counts()

75015    274
75016    236
75017    221
75011    180
75020    169
        ...
93300      5
92110      4
91400      4
93310      4
94100      2
Name: Postal code, Length: 107, dtype: int64

In [59]:
# Postal code most popular for picking up Blue cars
postalcode_ranked = autolib_electic_car_df['Bluecar counter'].groupby(autolib_electic_car_df['Postal code']).value_counts()
postalcode_ranked.head(1)

Postal code  Bluecar counter
75001        0                  41
Name: Bluecar counter, dtype: int64

In [60]:
# Postal code most popular for picking up Utilib counter
postalcode_ranked = autolib_electic_car_df['Utilib counter'].groupby(autolib_electic_car_df['Postal code']).value_counts()
postalcode_ranked.head(1)

Postal code  Utilib counter
75001        0                 52
Name: Utilib counter, dtype: int64

In [61]:
# Postal code with the most popular for picking up Utilib 1.4 counter
postalcode_ranked = autolib_electic_car_df['Utilib 1.4 counter'].groupby(autolib_electic_car_df['Postal code']).value_counts()
postalcode_ranked.head(1)

Postal code  Utilib 1.4 counter
75001        0                     50
Name: Utilib 1.4 counter, dtype: int64

In [62]:
# City that uses electric cars most
autolib_electic_car_df['City'].value_counts()

Paris                      2816
Nanterre                    127
Issy-les-Moulineaux         101
CrÃÂ©teil                   88
Rueil-Malmaison              88
                           ...
Saclay                        4
Le PrÃÂ©-Saint-Gervais       4
Clichy la garenne             3
Saint-Maur                    2
Epinay-sur-Seine              1
Name: City, Length: 88, dtype: int64

In [63]:
# Date when electric car was mostly used
autolib_electic_car_df['Date'].value_counts()

2018-04-01    584
2018-04-05    584
2018-04-03    583
2018-04-09    578
2018-04-04    576
2018-04-08    551
2018-04-02    545
2018-04-06    542
2018-04-07    457
Name: Date, dtype: int64

In [64]:
# The most rental status of elecric cars
autolib_electic_car_df['Rental status'].value_counts()

operational    4618
broken          332
future           47
nonexistent       3
Name: Rental status, dtype: int64

In [66]:
# The most popular charging status
autolib_electic_car_df['Charging Status'].value_counts()

nonexistent    2886
operational    1995
broken          119
Name: Charging Status, dtype: int64